/**
 * layout
 * ===
 */

/*
 * "fullscreen"
 */
html,
body
{
  height: 100%;
}

/*
 * interface is on the right and 200px wide
 * visualisation takes up the rest of the space on the left
 */

#map-canvas
{
  display: inline-block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 200px;
}

#side
{
  display: inline-block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 190px; /* reduced to fit borders and padding */
  right: 0px;
  padding: 0px 4px;
  border-width: 1px;
}

/*
 * hide some google maps controls
 * magic numbers at the moment
 */
html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2),
html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3),
html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(6),
html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(10)
{
  display: none;
}

#side p
{
  margin: 4px 0px;
}

#from,
#to
{
  width: 186px;
}

#spin
{
  width: 50px;
}

/**
 * decoration
 * ===
 */

.ui-widget
{
  font-size: 75%;
}

#side
{
  border-style: inset;
  border-color: #F0F0F0;
  background: #F0F0F0;
}

#side label
{
  vertical-align: middle;
}

#from,
#to
{
  background: #FFE0E0;
}
#from.valid,
#to.valid
{
  background: #E0FFE0;
}